
    titre{
        font-size: 3rem;
        color: rgb(170, 30, 30);
    }
  

  h1 {
    text-align: center;
  }
  div {
    width: 200px;
    height: 200px;
    background: black;
  }
  body {
    background: linear-gradient(to right, lightblue, pink);
}