
    titre{
        font-size: 3rem;
        color: rgb(170, 30, 30);
    }
  

  h1 {
    font-family: 'cursive', sans-serif;
    background-color: orange;
    color: white;
    font-size: 2rem;
  }
  body {
    background: linear-gradient(to right, lightblue, pink);
}



