
    titre{
        font-size: 3rem;
        color: rgb(170, 30, 30);
    }
  

  h1 {
    text-align: center;
  }
  .division{
    width: 200px;
    height: 200px;
    background: black;
  }

  .division2{
    width: 200px;
    height: 400px;
    background: rgb(88, 19, 83);
    margin-top: 10px;
  }

  body {
    background: linear-gradient(to right, lightblue, pink);
}